body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica' , sans-serif;
  background-image: linear-gradient(to bottom right,#fdfbfb ,#ebedee) fixed;

}

h1, h3, form {
  text-align: center;
}


h1 {
  margin-top: 30px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #d1cfcf;
}

h3 {
  margin-top: 0;
  font-weight: 300;
}

p {
  font-weight: 100;
}

input[type=search] {
  width: 50%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}

input[type=search]:focus {
   outline: none;
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

/*---Music List---*/

ul {
  list-style-type: none;
  margin-top: 30px;
  text-align: center;
}

li {
  margin-top: 50px;
}

span {
  text-transform: uppercase;
  font-weight: bold;
}

.album-image {
  border-radius: 3px;
}

/*---Buttons---*/

.find-music {
  border-radius: 2em;
  padding: 10px;
  border: none;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  cursor: pointer;
  color: white;
  font-size: 12px;
  outline: none;
}

.find-music:hover {
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.link-button {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px 45px;
  border-radius: 2em;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
}
.link-button:hover {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  font-weight: 400;
}

p .link-button {
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
    ul {
      text-align: justify;
    }

    .album-image {
      margin-left:1%;
      float:left;
      margin-right: 1.5em;
    }

    .link-button {
      float: right;
      margin-right: 1%;
      letter-spacing: 1px;
      margin-bottom: 60px;
    }

    ul li {
      margin-bottom: 75px;
      margin-right: 50px;
    }
}
